[submodule "AVP"]
	path = AVP
	url = https://github.com/nova-video-player/aos-AVP.git
	branch = nova
[submodule "FileCoreLibrary"]
	path = FileCoreLibrary
	url = https://github.com/nova-video-player/aos-FileCoreLibrary.git
	branch = v4-jcifsng
[submodule "MediaLib"]
	path = MediaLib
	url = https://github.com/nova-video-player/aos-MediaLib.git
	branch = v4-jcifsng
[submodule "Video"]
	path = Video
	url = https://github.com/nova-video-player/aos-Video.git
	branch = androidx-jcifsng
[submodule "native/avos"]
	path = native/avos
	url = https://github.com/nova-video-player/aos-avos.git
	branch = nova
[submodule "native/audiocompress"]
	path = native/audiocompress
	url = https://github.com/nova-video-player/aos-audiocompress.git
        branch = master
[submodule "native/ffmpeg-android-builder"]
	path = native/ffmpeg-android-builder
	url = https://github.com/nova-video-player/aos-ffmpeg-android-builder.git
	branch = nova
[submodule "native/dav1d-android-builder"]
	path = native/dav1d-android-builder
	url = https://github.com/nova-video-player/aos-dav1d-android-builder.git
	branch = master
[submodule "native/libyuv"]
	path = native/libyuv
	url = https://github.com/nova-video-player/aos-libyuv.git
        branch = master
[submodule "native/libnativehelper"]
	path = native/libnativehelper
	url = https://github.com/nova-video-player/aos-libnativehelper.git
        branch = master
[submodule "native/boost"]
	path = native/boost
	url = https://github.com/nova-video-player/aos-boost-android-builder/
        branch = master
[submodule "native/torrentd"]
	path = native/torrentd
	url = https://github.com/nova-video-player/aos-torrentd
        branch = master
[submodule "native/opus-android-builder"]
	path = native/opus-android-builder
	url = https://github.com/nova-video-player/opus-android-builder.git
[submodule "native/openssl-android-builder"]
	path = native/openssl-android-builder
	url = https://github.com/nova-video-player/openssl-android-builder.git
[submodule "native/libtorrent-android-builder"]
	path = native/libtorrent-android-builder
	url = https://github.com/nova-video-player/aos-libtorrent-android-builder.git
