name: NOVA F-Droid CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ANDROID_NDK_HOME:   ${ANDROID_NDK_LATEST_HOME}
      ANDROID_NDK_ROOT:   ${ANDROID_NDK_LATEST_HOME}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: set java17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: install packages
      run: |
        sudo apt-get update || sudo apt-get update
        sudo apt-get install -y nasm meson ninja-build maven build-essential wget curl unzip git pkg-config
    - name: build
      run: |
        cd Video
        ./gradlew -Psponsor -PadultScrape aNR
